@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-card {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#888888 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#888888);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}

.loader-button {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#888888 94%,#0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%,#888888);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}